@using PersonelDinamik.Models.EntitiyFrameWork
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a class="btn btn-success"href="/Departman/yeni">Yeni Departman</a>
<h2>Departman Listesi</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID </th>
            <th>AD</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var departman in Model)
        {
            <tr>
                <td>@departman.ID</td>
                <td>@departman.AD</td>
                <td><a class=" btn btn-primary" href="/Departman/Guncelle/@departman.ID">Güncelle</a></td>
                <td><a class=" btn btn-warning" href="/Departman/Sil/@departman.ID">Sil</a></td>
            </tr>
        }

    </tbody>
</table>
